<div class="file-sharing">
  <form class="dcf-form equation-form">
    <fieldset>
      <legend>Upload New File</legend>
      <div class="dcf-form-group">
        <label for="file">File</label>
        <br>
        <FileUpload @name="file" @for="file" @accept="*" @onfileadd={{action "addFile"}} as |queue|>
          <a class="upload-button">
            {{#if queue.files.length}}
              {{queue.files.0.name}}
            {{else}}
              {{fileName}}
            {{/if}}
          </a>
        </FileUpload>
      </div>

      <div class="dcf-form-group">
        <div class="form-actions">
          <button class="btn" {{action "save"}}>Save</button>
        </div>
      </div>
    </fieldset>
  </form>

  <br> <br>

  {{#each fileList as |file|}}
    <div class="flex-row">
      <div class="file-link">
        <div class="flex-row">
          <a target="_blank" href="{{baseUrl}}/{{file}}" rel="noopener">{{file}}</a>
        </div>
      </div>
      <button class="btn" {{action "deleteModal" file}}>Delete</button>
    </div>
    <div class="link-spacer"></div>
  {{/each}}

  {{#if showConfirmation}}
    <ModalDialog @onClose={{action "toggleConfirmation"}} @targetAttachment="center" @translucentOverlay="true" @containerClass="delete-overlay-container" @overlayClass="delete-overlay">
      <div class="row">
        <p class="overlay-title">Are you sure you want to delete {{fileForDelete}}?</p>
      </div>
      <div class="row text-align-center">
        <button class="btn" {{action "toggleConfirmation"}}>Cancel</button>
        <button class="btn" {{action "delete" fileForDelete}}>I'm sure</button>
      </div>
    </ModalDialog>
  {{/if}}

</div>

<br> <br>
