{{#if tokenWasVerified}}
  {{#if tokenIsValid}}

    {{#if message}}
      <div class="error">
        {{message}}
      </div>
    {{/if}}

    <form class="dcf-form password-reset-form">
      <fieldset>
        <legend>Password Reset</legend>
        <div class="dcf-form-group">
          <label for="password">Password</label>
          {{input type="password" value=password}}
        </div>
        <div class="dcf-form-group">
          <label for="retype">Password Retype</label>
          {{input type="retype" value=retype}}
        </div>
        <div class="dcf-form-group">
          <button {{action "submit"}} class="btn">Reset Password</button>
        </div>
      </fieldset>
    </form>

  {{else}}
    <h4>Token has expired!</h4>
    <p>Please request a new password reset token <LinkTo @route="admin.account-recovery">Here</LinkTo></p>
  {{/if}}
{{else}}
  Loading...
{{/if}}
