{{#if isEditing}}
  <div class="dcf-grid">
    <div class="dcf-col-100% edit-action">
      <button {{action "toggleEditing"}} class="btn dcf-btn-secondary">Cancel</button>
      <button {{action "save"}} class="btn dcf-btn-primary">Save</button>
    </div>
  </div>

  <br>

  <FroalaEditor
    @content={{safeContent}}
    @update={{fn (mut content)}}
    @theme="dark"
  />
{{else}}
  {{#if isLoading}}
    Content loading...
  {{else}}
    {{#if (and session.isAuthenticated currentUser.user.is_staff)}}
      <div class="dcf-grid">
        <button class="btn" {{action "toggleEditing"}}>Edit</button>
      </div>
    {{/if}}
    <div class="fr-view">
      {{safeContent}}
    </div>
  {{/if}}
{{/if}}
