<div class="equation-detail">
  <h3 class="equation-title">{{equation.name}} -- {{equation.author}}</h3>
  <h4 class="equation-sub-title">{{equation.date}}, {{equation.equation_type.name}}, {{equation.geometry.number}}</h4>
  <iframe src={{contentUrl}} type="application/pdf"></iframe>
</div>
