<div class="dcf-grid-fourths">

  <div class="dcf-col-33%">
    {{#if isEditing}}
      {{input type="text" value=coordinate_system}}
      {{input type="text" value=category}}
    {{else}}
      {{equation_type.coordinate_system}} -- {{equation_type.category}}
    {{/if}}
  </div>


  <div class="dcf-col-33%">
    {{#if isEditing}}
      <button {{action "cancel"}}>Cancel</button>
      <button {{action "save"}}>Save</button>
    {{else}}
      <LinkTo @route="contents"
              @query={{hash coord=equation_type.coordinate_system
                            category=equation_type.category}}>
        Equations
      </LinkTo>
      {{#if session.isAuthenticated}}
        <button {{action "edit"}}>Edit</button>
        <button {{action "toggleConfirmation"}} class="primary-light-color negative-background action-button">Delete</button>
      {{/if}}

      {{#if showConfirmation}}
        <ModalDialog @onClose={{action "toggleConfirmation"}} @targetAttachment="center" @translucentOverlay="true" @containerClass="delete-overlay-container" @overlayClass="delete-overlay">
          <div class="row">
            <p class="overlay-title">Are you sure?</p>
          </div>
          <div class="row button-row">
            <button {{action "toggleConfirmation"}} class="action-button">Cancel</button>
            <button {{action "delete" model}} class="primary-light-color action-button negative-background">I'm sure</button>
          </div>
        </ModalDialog>
      {{/if}}
    {{/if}}

  </div>

</div>
