<div class="dcf-grid-fouths">

  <div class="dcf-col-33%">
    {{#if isEditing}}
      {{input type="text" value=number}}
      <FileUpload @name="geometry_file" @for="geometry_file" @accept="image/*" @onfileadd={{action "addImageFile"}} as |queue|>
        <a class="upload-button">
          {{#if queue.files.length}}
            {{queue.files.0.name}}
          {{else}}
            {{imageFileName}}
          {{/if}}
        </a>
      </FileUpload>
    {{else}}
      {{geometry.number}}
      {{#if geometry.geometry_file}}
        <img alt={{geometry.number}} src={{geometry.geometry_file}}>
      {{/if}}
    {{/if}}
  </div>

  <div class="dcf-col-33%">
    {{#if isEditing}}
      <button {{action "cancel"}}>Cancel</button>
      <button {{action "save"}}>Save</button>
    {{else}}
      {{#if session.isAuthenticated}}
        <button {{action "edit"}}>Edit</button>
        <button {{action "toggleConfirmation"}} class="primary-light-color negative-background action-button">Delete</button>
      {{/if}}

      {{#if showConfirmation}}
        <ModalDialog @onClose={{action "toggleConfirmation"}} @targetAttachment="center" @translucentOverlay="true" @containerClass="delete-overlay-container" @overlayClass="delete-overlay">
          <div class="row">
            <p class="overlay-title">Are you sure?</p>
          </div>
          <div class="row button-row">
            <button {{action "toggleConfirmation"}} class="action-button">Cancel</button>
            <button {{action "delete" model}} class="primary-light-color action-button negative-background">I'm sure</button>
          </div>
        </ModalDialog>
      {{/if}}
    {{/if}}
  </div>
</div>
