<div class="search">
  <div class="search-input">
    {{input class="search-input" type="text" value=keyword key-up=(action "search")}}
    <div class="search-results {{displayClass}}">
      {{#each searchResults as |result|}}
        <LinkTo @route="contents.equation" @model={{result.id}}>
          <span class="result-name">{{result.name}}</span>
          <span class="result-number">{{result.number}}</span>
        </LinkTo>
      {{/each}}
    </div>
  </div>
</div>
