{{#if session.isAuthenticated}}
  {{#if creatingNew}}
    <EquationTypeDetail @isNew="true" @createCallback={{action "createCallback"}} @cancelCallback={{action "createCallback"}} />
  {{else}}
    <button {{action "new"}}>Create New Equation Type</button>
  {{/if}}
{{/if}}

{{#each model as |equation_type|}}
  <EquationTypeDetail @equation_type={{equation_type}} />
{{/each}}
