{{#if session.isAuthenticated}}
  {{#if creatingNew}}
    <EquationDetail @isNew="true" @createCallback={{action "createCallback"}} @cancelCallback={{action "createCallback"}} />
  {{else}}
    <button class="btn" {{action "createNew"}}>Create New Case</button><br><br>
    <label for="test-only">Only Show Hidden Cases</label>
    {{input id="test-only" class="big-checkbox" type="checkbox" checked=draftOnly}}
  {{/if}}
{{/if}}

<br>
<br>

{{#if (not creatingNew)}}
  <div class="tab-set">
    {{#each coordinateSystems as |name|}}
      <div class="top-tab tab {{is-active name coord}}" {{action "setSelectedCoord" name}} role="button">
        {{name}}
      </div>
    {{/each}}
  </div>

  <div class="tab-set">
    {{#each activeCategories as |name|}}
      <div class="tab {{is-active name category}}" {{action "setSelectedCategory" name}} role="button">
        {{name}}
      </div>
    {{/each}}
  </div>

  <br>

  {{#each activeEquations as |equation|}}
    <LinkTo @route="contents.equation" @model={{equation.id}} class="equation-link">{{equation.geometry.number}} - {{equation.name}}</LinkTo>
    <div class="equation-spacer"></div>
  {{/each}}
{{/if}}

<br>
<br>
