<div class="tab-set">
  {{#each coordinateSystems as |name|}}
    <div class="tab {{is-active name selectedCoord}}" {{action "setSelectedCoord" name}} role="button">
      {{name}}
    </div>
  {{/each}}
</div>

<div class="tab-set">
  {{#each activeCategories as |category|}}
    <div class="tab {{is-active category selectedCategory}}" {{action "setSelectedCategory" category}} role="button">
      {{category}}
    </div>
  {{/each}}
</div>

{{#each activeEquations as |equation|}}
  <LinkTo @route="contents.equation" @model={{equation.id}}>{{equation.name}}</LinkTo>
{{/each}}
